
.wrapper {
  width: 100%;
  min-height: 50px;
  padding: 10px 0;
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #21212c;
  color: rgb(255, 255, 255);
  padding: 10px 20px; 
  font-family: 'Rubik', sans-serif;
}

.author {
  margin-bottom: 5px;
}

.link {
  color: #0D76FF
}
