@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');

.wrapper {
}

.title {
  color: #0658c2;
  margin-bottom: 10px;
}

.time {
  margin-bottom: 10px;
  font-family: 'Roboto Mono', monospace;
  /* font-family: "Montserrat", monospace; */
}

.player {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.ff {
  height: 60px;
  width: 60px;
  cursor: pointer;
}

.ffStop {
  height: 40px;
  width: 40px;
  cursor: pointer;
}


