.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.positive {
  color: limegreen;
  cursor: pointer;
}

.negative {
  color: tomato;
  cursor: pointer;
}

@media only screen and (max-width: 750px) {
  .wrapper {
     text-align: center;
  }
}
