.title {
  margin-top: 20px;
  margin-bottom: 5px;
}

.subtitle {
  margin-bottom: 40px;
  color: #424253;
}

.tabs {
  margin-top: 20px;
}

.waveform {
  margin: 40px 0;
}

@media only screen and (max-width: 750px) {
  .title, .subtitle, .tabs {
     text-align: center;
  }
}
